@using ReviseApplication.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}
<section id="message-section">
    <div class="container">
        <div class="text-center" style="padding:150px 0 100px">
            <div id="MessageInfo"></div>
        </div>
    </div>
</section>